{% comment %}
  Social Icons Section for Amerikid
{% endcomment %}

<style>
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
  }

  .social-icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    color: #fff;
    transition: transform 0.3s ease;
  }

  .social-icons a:hover {
    transform: scale(1.1);
  }

  .social-icons svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }

  .social-icons-wrapper {
    background-color: #000;
  }
</style>

<div class="social-icons-wrapper">
  <div class="social-icons">
    <!-- Instagram -->
    <a href="https://www.instagram.com/amerikid.ca/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true">
        <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9S160.5 370.8 224.1 370.8 339 319.5 339 255.9 287.7 141 224.1 141zm0 186.6c-39.5 0-71.6-32.1-71.6-71.6s32.1-71.6 71.6-71.6 71.6 32.1 71.6 71.6-32.1 71.6-71.6 71.6zm146.4-194.3c0 14.9-12 26.9-26.9 26.9s-26.9-12-26.9-26.9 12-26.9 26.9-26.9 26.9 12 26.9 26.9zm76.1 27.2c-1.7-35.3-9.9-66.7-36.2-93C385.2 29.9 353.8 21.7 318.5 20 279.1 18.2 168.9 18.2 129.5 20 94.2 21.7 62.8 29.9 36.5 56.2 10.2 82.5 2 113.9 .3 149.2c-1.8 39.4-1.8 149.6 0 189 1.7 35.3 9.9 66.7 36.2 93 26.3 26.3 57.7 34.5 93 36.2 39.4 1.8 149.6 1.8 189 0 35.3-1.7 66.7-9.9 93-36.2 26.3-26.3 34.5-57.7 36.2-93 1.8-39.4 1.8-149.6 0-189zM398.8 388c-7.8 19.5-22.9 34.6-42.4 42.4-29.4 11.7-99.2 9-132.4 9s-103 2.6-132.4-9c-19.5-7.8-34.6-22.9-42.4-42.4-11.7-29.4-9-99.2-9-132.4s-2.6-103 9-132.4c7.8-19.5 22.9-34.6 42.4-42.4 29.4-11.7 99.2-9 132.4-9s103-2.6 132.4 9c19.5 7.8 34.6 22.9 42.4 42.4 11.7 29.4 9 99.2 9 132.4s2.7 103-9 132.4z"/>
      </svg>
    </a>

    <!-- TikTok -->
    <a href="https://www.tiktok.com/@amerikid.ca" target="_blank" rel="noopener noreferrer" aria-label="TikTok">
      <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true">
        <path d="M448 209.9v125.3c0 61.5-24.4 119.3-67.9 162.8S269.9 512 208.3 512 89.1 487.6 45.6 444.1-22.3 336.5-22.3 275 2.1 155.7 45.6 112.2 146.7 44.3 208.3 44.3c17.2 0 34 1.9 50.1 5.5v132.4c0 49.7-20.5 97.6-57 132.2s-84.8 56.5-134.6 56.5c-5.6 0-11.1-.2-16.6-.6v-27.5c5.5.3 11.1.5 16.6.5 39.3 0 76.4-15.3 104.3-43.1s43.2-65.1 43.2-104.4V44.3h86.6c6.6 39.1 37.7 70.1 76.7 76.7V209.9z"/>
      </svg>
    </a>

    <!-- X (Twitter) -->
    <a href="https://x.com/xx_amerikid" target="_blank" rel="noopener noreferrer" aria-label="X (Twitter)">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true">
        <path d="M461.2 12.9h-99.3L256 200.3 150.1 12.9H12.9l189.4 293.7L20.7 499.1h99.3l116-174.9 108.7 174.9h137.2L319 312.2 461.2 12.9z"/>
      </svg>
    </a>

    <!-- YouTube -->
    <a
      href="https://www.youtube.com/channel/UCdh2i0KtdQDJ_ks6NcttEag"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="YouTube"
    >
      <svg viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true">
        <path d="M549.7 124.1c-6.3-23.8-25-42.5-48.8-48.9C458.2 64 288 64 288 64S117.8 64 75.1 75.2c-23.8 6.3-42.5 25-48.8 48.9C16 167.8 16 256 16 256s0 88.2 10.3 131.9c6.3 23.8 25 42.5 48.8 48.9 42.6 11.2 212.9 11.2 212.9 11.2s170.2 0 212.9-11.2c23.8-6.3 42.5-25 48.8-48.9C560 344.2 560 256 560 256s0-88.2-10.3-131.9zM232 334V178l142 78-142 78z"/>
      </svg>
    </a>
  </div>
</div>
